{% extends 'base.html' %}

{% block title %}Change Password Page{% endblock title %}

{% block content %} 
    {% if user.is_authenticated %}
        <h2>Change Password</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <a href="{% url 'home' %}">Back</a>
            <button type="submit">Submit</button>
        </form>
    {% else %}
        <p>Please log in to continue</p>
        <a href="{% url 'login' %}">Log In</a>
        <p>Don't have an account yet?</p>
        <a href="{% url 'signup' %}">Sign Up</a>
  {% endif %}
{% endblock content %}