<!DOCTYPE html>
<html>
    {%load static%}
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <title>Home</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
    </head>

    <body>
        <header class="site-header" >
            <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top" style="background-color: #6B5B95">
              <div class="container" >
                <p class="navbar-nav", style="font-size: 20px; color: white">Plagarism Checker</p>
                <div class="navbar-nav">
                      <a class="nav-item nav-link" href="/home">Home</a>
                      <a class="nav-item nav-link" href="/logout">Logout</a>
                </div>
              </div>
            </nav>
          </header>
          
          <div class="container">
            <div class="row">
              <div class ="col-md-8">
                <div class ="content-section">
                  <h2 class="border-bottom mb-4">Your file is uploaded successfully</h2>
                   <div class="horizontal-center">
                    <button class="buttonlamb button1lamb"><a href={{url}}>Download File</a></button>
                    <button class="buttonlamb button1lamb"><a href={{url2}}>Download Image</a></button><br>
                    <button class="buttonlamb button1lamb"><a href="{% url 'home' %}">Upload Another File</a></button><br><br>
                  </div>
                </div>
                <div>
                  <img src={{image}} width='100%'>
                </div>
              </div>
              <div class="col-md-4">
                <div class="about-section" style="padding: 30px;background-color: #92A8D1 " >
                  <h2 style="text-align:center">Developers :</h2>
                </div>
               

                <div class="row">
                  <div class="card" style="margin-left: 14px">
                    <div class="container" style="margin: 0px 42px 0px 4px">
                      <h2>Mukesh Reddy</h2>
                      <p class="title"></p>
                      <p>190050054@gmail.com</p>
                    </div>
                  </div>
                </div>

                <div class="row ">
                  <div class="card" style="margin-left: 14px">
                    <div class="container" style="margin: 0px 97px 0px 4px">
                      <h2>Heemmanshuu</h2>
                      <p class="title"></p>
                      <p>190050029@iitb.ac.in</p>
                    </div>
                  </div>
                </div>
                <div class="row ">
                <div class="card" style="margin-left: 14px">
                  <div class="container" style="margin: 0px 122px 0px 4px">
                    <h2>Manoj Varma</h2>
                    <p class="title"></p>
                    <p>190050016@iitb.ac.in</p>
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="row">
                  <div class="card" style="margin-left: 30px">
                    <div class= "container" style="margin: 0px 64px 0px 4px">
                      <h2>Savyasach Reddy</h2>
                      <p class="title"></p>
                      <p>esavyareddy2@gmail.com</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
                        
    </body>
</html>
