<!DOCTYPE html>
<html>
    {%load static%}
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <title>Home</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
    </head>

    <body>
        <header class="site-header" >
            <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top" style="background-color: #6B5B95">
              <div class="container" >
                <p class="navbar-nav", style="font-size: 20px; color: white">Plagarism Checker</p>
                <div class="navbar-nav">
                      <a class="nav-item nav-link" href="/home">Home</a>
                      <a class="nav-item nav-link" href="/logout">Logout</a>
                  </div>
                
              </div>
            </nav>
          </header>
          <div class ="col-md-8">
          <div class="horizontal-center">
              <div class="vertical-center">
                <button class="buttonlamb button1lamb"><a href={{url}}>Download</a></button><br>
                        
                <button class="buttonlamb button1lamb"><a href="{% url 'home' %}">Upload Another File</a></button>


                </div>
            </div>
          </div>
                        
    </body>
</html>
