templates/home.html
{% extends 'base.html' %}


{% block content %}
 <div class="content-section" style="text-align: center;">

{% if user.is_authenticated %}
  Hi {{ user.username }}!
<form action='/logout' method='GET' class="form-group">
    	<button class="btn btn-outline-info" type="submit" style="font-size: 32px; margin-top: 10px;">Logout</button>
	</form>
<form action='/password_change' method='GET' class="form-group">
    	<button class="btn btn-outline-info" type="submit" style="font-size: 32px; margin-top: 10px;">Change Password</button>
  </form>
  <form action='/file/' method="POST" enctype="multipart/form-data" >
    {%csrf_token%}
    <!-- {{form.non_field_errors}}
    {{form.as_p}} -->
    <input type='file' name='file'>
    <input type='submit' value='Upload' >
</form>
	{% else %}
  <p>Please log in to continue</p>
  <a href="/login">Log In</a>
  <p>Don't have an account yet?</p>
  <a href="/signup">Sign Up</a>
{% endif %}

</div>
{% endblock %}	