<script type="text/javascript">
  function VerifyUploadSizeIsOK()
  {
     var UploadFieldID = "file-upload";
     var MaxSizeInBytes = 2097152;
     var fld = document.getElementById(UploadFieldID);
     if( fld.files && fld.files.length == 1 && fld.files[0].size > MaxSizeInBytes )
     {
        alert("The file size must be no more than " + parseInt(MaxSizeInBytes/1024/1024) + "MB");
        return false;
     }
     return true;
  }
  </script>
  

{% extends 'base.html' %}


{% block content %}
 <div class="content-section" style="text-align: center;">


{% if user.is_authenticated %}
<div class="border-bottom mb-4">
  <h2 >Upload your files here :</h2>
</div>
<div class="border-bottom mb-4">

  <div class='upload'>
    <h3 id='msg'>{{msg}}</h3>
    <form action='/file/' method="POST" enctype="multipart/form-data" >
      {%csrf_token%}
      <!-- {{form.non_field_errors}}
      {{form.as_p}} -->
      <input type='file' accept=".zip" name='file' required="true" id="file-upload">
      <input type='submit' onclick="return VerifyUploadSizeIsOK()" value='Upload'>
    </form>
    <br>
    <button id='prev'><a href="{% url 'prev' %}">Previous Results</a></button>
    <br>
    <br>
  </div>
</div>
{% endif %}



{% if user.is_authenticated %}


<form action='/password_change' method='GET' class="form-group">
      <button class="btn btn-outline-info" type="submit" style="font-size: 20px; margin-top: 10px;">Change Password</button>
  </form>




<form action='/logout' method='GET' class="form-group">
    	<button class="btn btn-outline-info" type="submit" style="font-size: 20px; margin-top: 10px;">Logout</button>
	</form>




  
	{% else %}
  <p>Please log in to continue</p>
  <a href="/login">Sign In</a>
  <p>Don't have an account yet?</p>
  <a href="/signup">Sign Up</a>
{% endif %}
</div>



{% endblock %}	
