{% extends 'base.html' %}

{% block content %} 
  <div class="content-section">
<form method="post">
  {% csrf_token %}
  <fieldset class="form-group">
    <legend class="border-bottom mb-4">password reset</legend>
  {% for field in form %}
    <p>
      {{ field.label_tag }}<br>
      {{ field }}
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
  {% endfor %}
  </fieldset>
  <button class="btn btn-outline-info" type="submit">change password</button>
</form>
<br>
</div>

{% endblock %}