{% extends 'base.html' %}

{% block content %} 
    <div class='list'>
        <h2>Previous Results</h2>
        {% if obj %}
            {% for ob in obj%}
                <div class='element'>
                    <label>Uploaded Time:</label> 
                    {{ob.timestamp}}<br>
                    <label>Uploaded File Name:</label>
                    {{ob.name}}
                    <button class='list-button'><a href={{ob.file.url}}>Download</a></button><br>
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}
