{% extends 'base.html' %}

{% block content %}

  
  <div class="content-section">
    {% if user.is_authenticated %}
        <h2>Please Logout this session to Sign Up a new account.</h2>
    {% else %}
  <form method="post">
  {% csrf_token %}
  <fieldset class="form-group">
    <legend class="border-bottom mb-4" style="font-size: 25px">User Sign up Form</legend>
  {% for field in form %}
    <p>
      {{ field.label_tag }}<br>
      {{ field }}
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
  {% endfor %}
  </fieldset>
  <button class="btn btn-outline-info" type="submit">Sign up</button>
</form>
<div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="/login">Sign In</a>
            </small>
            <br>
            <small class="text-muted">
                Are you an organisation? Drop a mail to any of us to register!
            </small>
        </div>
  {% endif %}
  </div>
{% endblock %}

